.button {
  padding: .5em 1em;
  background: transparent;
  border: 1px solid #00CDBE;
  border-radius: 3px;
  color: #EEE;
  font-size: 0.85rem;
  text-transform: uppercase;
}

.button:hover {
  cursor: pointer;
  border-color: #00CDBE;
  color: #FFF;
}

.button:focus {
  outline: none;
}
